{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  <form method="POST" action="/purchase-edit?id={{id}}" class="form-card">
    {{>heading title='Мої замовлення' info = "Комп'ютери та ноутбуки / Комп'ютери, неттопиб моноблоки"}}

    <div class="product-list">
      {{#each data.list}}
      {{>purchase-my data=this}}
      {{>divider}}
      {{/each}}
    </div>
  </form>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}