{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div>
  <h1 style="color: green;">{{info.[1]}} </h1>
  <p></p>
  <p></p>
  <h1>{{info.[0]}}</h1>
  <a href="/product-list">повернутися назад</a>
  <b></b>
  <b></b>
  <a href="/product-create">Товари списком</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}