@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;


/////////////////// Begin =========================
.title--small {
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.choose {
  display: grid;
  // gap: s.spase(6);
  gap: 24px;
}

.choose__item {
  display: grid;
  grid-template-columns: 56px 1fr;
  // gap: s.space(6);
  gap: 24px;
}

.choose__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  // gap: s.space(10);
  gap: 40px;
  align-items: center;
}

.form__field {
  width: 100%;
  font-size: 64px;
  // color: s.color(light);
  color: #ddd;
  text-align: center;
  // padding: s.space(4);
  padding: 16px;
  // border-bottom: 1px solid s.color(border);
  border-bottom: 1px solid #000;
}

.form__button {
  color: #000;
  // color: s.color(dark);
  background-color: #20D562;
  max-width: fit-content;
  font-size: 20px;
  //padding: s.space(3) s.space(10);
  padding: 12px 40px;
  border-radius: 50px;

  transition: opacity 0.6s;

  &:hover {
    opacity: 0.6;
  }
}
