{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data}}
  <form method="POST" action="/purchase-submit?id={{id}}" class="form-card">
    {{>heading title="Ваше замовлення"}}

    <ul class="cart">
      {{#each cart}}
      <li class="cart__item">
        <span>{{text}} </span>
        <span>{{price}} грн </span>
      </li>
      {{/each}}
    </ul>

    {{>divider}}

    {{>heading title="Оформлення замовлення"}}

    {{>field label="Ім'я" name="firstname"}}

    {{>field label="Прізвище" name="lastname"}}

    {{>field label="Телефон" name="phone"}}

    {{>field label="Ел. пошта" name="email"}}

    {{>field label="Коментар" name="comment"}}

    {{>field label="Списати бонуси" name="bonus"}}

    {{>field label="Промо-код" name="promocode"}}

    {{>divider}}

    {{>field value =totalPrice name="totalPrice" disabled=true}}
    {{>field value =productPrice name="productPrice" disabled=true}}
    {{>field value =deliveryPrice name="deliveryPrice" disabled=true}}

    <strong class="form-card__total">
      Всього: {{totalPrice}} грн
    </strong>

    {{>button text="Оформлення замовлення"}}


  </form>
  {{/with}}

</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}