{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data.list}}

  <form method="POST" action="/purchase-edit?id={{id}}" class="form-card">
    {{>heading title="Зміна даних"}}

    {{>field value =id label="ID:" name="id"}}

    {{>divider}}

    <div class="block-2r__2c">

      {{>field value =firstname label="Ім'я" name="firstname" field__2c=true}}

      {{>field value =lastname label="Прізвище" name="lastname" field__2c=true}}

      {{>field value =phone label="Телефон" name="phone" field__2c=true}}

      {{>field value =email label="Ел. пошта" name="email" field__2c=true}}

    </div>

    {{>divider}}

    {{>field value =totalPrice name="totalPrice" disabled=true}}
    {{>field value =productPrice name="productPrice" disabled=true}}
    {{>field value =deliveryPrice name="deliveryPrice" disabled=true}}
    {{>field value =amount name='amount' disabled=true}}

    {{!-- <strong class="form-card__total">
      Всього: {{totalPrice}} грн ({{bonus}} грн бонусів)
    </strong> --}}

    {{>button text="Зберегти зміни"}}



  </form>
  {{/with}}

</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}