@use '../../lib/service.scss' as s;

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.field__label {
  font-size: 14px;
}

.field__input {
  // border: 1px solid s.color(light);
  border: 1px solid black;
  border-radius: 10px;
  padding: s.space(2);
}

.field--disabled {
  position: absolute;
  display: none;  
}

.field__2c { 
  width: 49%;
  margin-top: 20px;
}