main {
  width: 960px;
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}

.user-list {

    // display: flex;
    // flex-direction: row;
    gap: 10px;
    margin: 10px;
 
}

.divCardBoxArea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  margin-top: 10px;
  padding: 10px;

  justify-content: space-between;

}

.divCard {
  width: 30%;
  height: 140px;

  padding: 5px;
  border: 2px;
  border-radius: 10px;
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;

}

.hero_title {
  size: 12px;
}

.hero_text {
  size: 9px;
}

.hero_text_id {
  size: 12px;
  color: dimgray;
}


.horison {
  display: flex;
  flex-wrap: nowrap;
}

.button_hero {
  text-decoration: none !important;
}